@use '../../../styles/theme' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @include breakpoints('sm') {
    flex-direction: row;
  }

  .left {
    padding-right: 2rem;

    @include breakpoints('sm') {
      flex: 1;
      padding-left: 2rem;
    }
  }

  .right {
    width: 100%;

    @include breakpoints('sm') {
      flex: 1;
      padding-left: 2rem;
    }
  }

  @include breakpoints('xl') {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}
